/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*-------------------------------------*/

:root {
  --purple: #6c2886;
  --dark-purple: #694783;
  --purple-navy: #544e87;
  --yellow: #f7f7a3;
  --green: #45808a;
  --grey: #f2f2e9;
  --black: #2e373d;
  --white: #fff;
  --gradient-dark: linear-gradient(
    90deg,
    rgba(100, 44, 129, 1) 0%,
    rgba(69, 128, 138, 1) 100%
  );
  --gradient-light: linear-gradient(
    90deg,
    rgba(243, 243, 169, 1) 0%,
    rgba(242, 242, 233, 1) 100%
  );
  --primary-font: "Outfit", sans-serif;
  --secondary-font: "Sora", sans-serif;
}

body {
  font-family: var(--primary-font);
  font-size: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}
